.App {
  text-align: center;
}

.todo {
  display: flex;
  text-align: left;
  font-size: 1.3em;
  background-color: #f5f5f5;
  border: 1px solid#aaa;
  padding: 16px;
  margin: 16px;
}

.todo.complete {
  background-color: #d1ffcf;
}

.todo.complete .description{
  text-decoration: line-through;
}

.todo.overdue {
  background-color: #ffd2cf;
}

.todo .description {
  flex: 1;
}

.todo .due-date {
  justify-self: flex-end;
  border: 1px solid #999;
  padding: 4px;
}

.todo .checkbox-wrapper {
  flex-grow: 0;
  cursor: pointer;
  padding: 4px;
}

/* stolen from https://tobiasahlin.com/spinkit/*/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 0.8s infinite ease-in-out;
  animation: sk-bounce 0.8s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0)
  }

  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}